@font-face {
	font-family: 'FuturaPTWebLight';
	src:
		url('../public/fonts/Futura-PT_Light.woff2') format('woff2'),
		url('../public/fonts/Futura-PT_Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTWebBook';
	src:
		url('../public/fonts/Futura-PT_Book.woff2') format('woff2'),
		url('../public/fonts/Futura-PT_Book.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTWebMedium';
	src:
		url('../public/fonts/Futura-PT_Medium.woff2') format('woff2'),
		url('../public/fonts/Futura-PT_Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTWebBold';
	src:
		url('../public/fonts/Futura-PT_Bold.woff2') format('woff2'),
		url('../public/fonts/Futura-PT_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTWebCondExtraBold';
	src:
		url('../public/fonts/Futura-PT_Cond-ExtraBold.woff2') format('woff2'),
		url('../public/fonts/Futura-PT_Cond-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTWebCondMedium';
	src:
		url('../public/fonts/Futura-PT_Cond-Medium.woff2') format('woff2'),
		url('../public/fonts/Futura-PT_Cond-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


:root {
  /* Colors */
  --dark-color: hsl(var(--hue), 100%, 9%);
  --dark-color-bg: hsla(var(--hue), 100%, 9%, .60);
  --light-color: hsl(var(--hue), 95%, 98%);
  --light-color-bg: hsla(var(--hue), 95%, 98%, .60);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );

  /* Spacing */
  --space-eighth: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-triple: 4.8rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /*Typography*/
  --font-family-sans: "FuturaPTWebBook", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-family-sans-light: "FuturaPTWebLight";
  --font-family-sans-md: "FuturaPTWebMedium";
  --font-family-sans-bold: "FuturaPTWebBold";
  --font-family-sans-cond: "FuturaPTWebCondMedium";
  --font-family-sans-condextrabold: "FuturaPTWebCondExtraBold";

}

--base-size: clamp(1rem, 0.875vw, 1.375rem);

/* Font Size */
--fs-xxs: calc(var(--fs-md) * 0.5);
--fs-x5: calc(var(--fs-md) * 0.75);
--fs-sm: calc(var(--fs-md) * 0.875);
--fs-md: var(--base-size);
--fs-1g: calc(var(--fs-md)
* 1.25);
--fs-xl:calc(var(--fs-md)
* 1.5);
--fs-xxl: calc(var(--fs-md) * 1.75);
--f5-xxxl: calc(var(--fs-ma) * 2);
--f5-XxxXl: calc(var(--fs-md) * 2.25);

/* Spacing */
--sp-xxs: calc(var(--sp-md) * 0.25);
--sp-xs: cal(var(--sp-md) * 0.5);
--sp-sm: calc(var(--sp-md) * 0.75);
--sp-md: var (--base-size);
--sp-lg: calc(var( --sp-md)
* 1.5);
--sp-xl:calc(var(--sp-md)
* 2);
--sp-xxl: calc(var(--sp-md) * 2.5);
--sp-xxxl: calc(var(--sp-md) * 3);
--sp-xxxxl: calc(var(--sp-md) *
4);

/* Border radius */
--br-sm: calc(var(--sp-Xs) / 2);
--br-md: var(--sp-xs);
--br-lg: var(--sp-sm);
--br-xl: var(--sp-ma);


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  line-height: 3.0rem;
  font-family: var(--font-family-sans);
  color: var(--dark-color);
  background: var(--bg-gradient);
}

a {
  text-decoration: none;
  color: var(--dark-color);
  font-family: var(--font-family-sans-md);
  border-bottom: .1rem solid var(--base);
}

a:hover {
  border-bottom: .1rem solid var(--dark-color);
}

.msglink, .msglinkfirst {
  color: white;
}

.msglinkfirst {
  margin-right: 2.4rem;
  margin-bottom: var(--space-default);
}

.msglink:hover, .msglinkfirst:hover {
  color: white;
  border-bottom: .1rem solid white;
}

.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
