.main {
  color: var(--dark-color);
  width: 80%;
  max-width: 570px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.copy {
  width: 100%;
  padding: 2em;
}

.title {
  color: var(--dark-color);
  font-size: 2em;
  font-family: sans-serif;
}

.msg {
  background-color: var(--dark-color);
  color: white;
  width: 80%;
  max-width: 570px;
  height: 400px;
}